fwlogistic_test/Connected Services/FWLServiceReference/ICA.FWL.Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ICA.FWL.Server" elementFormDefault="qualified" targetNamespace="http://ICA.FWL.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FWL.Server.Core" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Optimization" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FWL.Server" />
  <xs:element name="ServerAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerAliveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="SessionCreateResult" nillable="true" type="q1:fwlsSession" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q2:fwlsSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionCloseResult" type="xs:int" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q3:fwlsSession" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="externalId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Optimization" minOccurs="0" name="data" nillable="true" type="q5:OptimizationData" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="labels" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="SolveProblemResult" nillable="true" type="q7:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q8:fwlsSession" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="externalId" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Optimization" minOccurs="0" name="data" nillable="true" type="q10:OptimizationData" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="labels" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="EvaluateProblemResult" nillable="true" type="q12:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveODMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q13:fwlsSession" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="externalId" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FWL.Server" minOccurs="0" name="data" nillable="true" type="q15:ODMatrixData" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="labels" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolveODMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="SolveODMatrixResult" nillable="true" type="q17:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocateOverNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q18:fwlsSession" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="externalId" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Optimization" minOccurs="0" name="data" nillable="true" type="q20:LocateData" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="labels" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocateOverNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="LocateOverNetworkResult" nillable="true" type="q22:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q23:fwlsSession" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="problemId" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="CancelProblemResult" nillable="true" type="q25:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q26:fwlsSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="CancelProblemsUserResult" nillable="true" type="q27:ArrayOfProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q28:fwlsSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="CancelProblemsAppResult" nillable="true" type="q29:ArrayOfProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q30:fwlsSession" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="CancelProblemsLabelResult" nillable="true" type="q31:ArrayOfProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsByLabelUserApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q32:fwlsSession" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelProblemsByLabelUserAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="CancelProblemsByLabelUserAppResult" nillable="true" type="q33:ArrayOfProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q34:fwlsSession" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="problemId" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="GetProblemDataResult" nillable="true" type="q36:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemSolution">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q37:fwlsSession" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="problemId" type="q38:guid" />
        <xs:element minOccurs="0" name="removeAfter" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemSolutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="GetProblemSolutionResult" nillable="true" type="q39:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q40:fwlsSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="GetProblemsResult" nillable="true" type="q41:ArrayOfProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProblemsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFirstQueued">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q42:fwlsSession" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="scerarioId" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFirstQueuedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFirstQueuedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemAbstract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q44:fwlsSession" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="problemId" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemAbstractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="GetProblemAbstractResult" nillable="true" type="q46:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemsByExternalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q47:fwlsSession" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="externalId" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemsByExternalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="GetProblemsByExternalIdResult" nillable="true" type="q49:ArrayOfProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="session" nillable="true" type="q50:fwlsSession" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="externalId" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="GetServerStatusResult" nillable="true" type="q52:ProblemAbstract" />
        <xs:element minOccurs="0" name="errmsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerGeneralStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerGeneralStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerGeneralStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProblemSolved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="p" nillable="true" type="q53:ProblemAbstract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProblemEvaluated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="p" nillable="true" type="q54:ProblemAbstract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProblemCanceled">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="p" nillable="true" type="q55:ProblemAbstract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorInProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/FWL.Server.Core" minOccurs="0" name="p" nillable="true" type="q56:ProblemAbstract" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerPing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>